.button {
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  height: 44px !important;
  width: 100% !important;
  line-height: 22px !important;
  letter-spacing: -0.4px !important;
  color: var(--main-color-white) !important;
  background: var(--main-color-black) !important;
  margin-top: auto !important;
  z-index: 99999 !important;
}
