.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .link {
        position: relative;
        border-radius: 20px;
        background: var(--main-color-white);
        box-shadow: 0px 5px 20px 0px rgba(24, 22, 31, 0.1);
        min-height: 80px;
        padding: 12px;
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: column;

        .text {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 102%;
            letter-spacing: -0.4px;
        }

        .review-text,
        .delivery-count {
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: 102%;
            letter-spacing: -0.4px;
            color: var(--main-color-grey);
        }

        .delivery-count {
            margin-bottom: 12px;
        }
    }

    .count {
        border-radius: 20px;
        background: #000;
        display: flex;
        padding-bottom: 2px;
        top: -3px;
        right: -3px;
        justify-content: center;
        align-items: center;
        width: 16px;
        position: absolute;
        height: 16px;
        font-size: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--main-color-white);
    }
}
