.wrapper {
    padding: 12px;
    border-radius: 12px;
    background: #fff;
    align-self: stretch;
    box-shadow: 0px 5px 20px 0px rgba(24, 22, 31, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;

    &.outOfStock {
        .image {
            opacity: 0.5;
        }

        .content {
            position: relative;

            > * {
                opacity: 0.5;
            }

            .outOfStock {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0, -110%);
                opacity: 1;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                padding: 0px 12px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.4px;
                pointer-events: none;
                background: var(--main-color-black);
                color: var(--main-color-white);
            }
        }
    }

    &.small {
        padding: 7.1px;

        .image {
            margin: 0 auto 5px auto;
        }

        .heart {
            transform: translate(4px, -1px) !important;
            flex: 0 0 20px;
            height: 20px;
            min-width: 20px;
        }
    }

    .image {
        max-width: 300px;
        width: 100%;
        margin: auto;
        height: 100px;
        object-fit: cover;
    }

    .content {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info {
            position: relative;
            width: 100%;
            &.small {
                .price {
                    font-size: 10.65px;
                }

                .name {
                    font-size: 8.283px;
                }
            }

            .price {
                pointer-events: none;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .name {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }
        }

        .heart {
            z-index: 6;
            transform: translate(9px, -2px);
        }
    }

    .link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}
