.wrapper {
    margin-bottom: 16px;

    div[data-slot='base'] {
        width: calc(100% + 32px);
        margin-left: -16px;

        & > div {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    .header {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 106%;
        }
        .right-text {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 106%;
            color: var(--main-color-grey);
        }
    }
}
