.image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px auto 8px auto;
}

.name {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
