.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 20px 16px;
    margin: 0 -16px;
    & > div {
        flex: 0 0 104px;
    }
}

.history-text {
    font-size: 17px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
