.wrapper {
  padding-top: 36px;

  .header {
    padding: 16px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 48px;
    z-index: 999999;
    background: var(--main-color-white);

    .link {
      flex: 0 1 30px;
    }

    .title {
      text-align: center;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      flex: 1 1 auto;
      padding-right: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--main-color-grey);
      }
    }
  }
}

.trackNumber {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  .snippet {
    padding: 0px;
    gap: 0px;
    margin-left: 4px;
    background: transparent;

    svg {
      path {
        stroke: var(--main-color-grey);
      }
    }

    pre {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: var(--main-color-black);
      font-family: var(--font-manrope);

      span {
        display: none;
      }
    }

    button {
      width: 25px;
      height: 25px;
      min-height: 25px;
      min-width: 25px;
      z-index: 3;
    }
  }
}