.wrapper {
  display: flex;
  flex-direction: column;

  .info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--main-color-grey);
    margin-top: auto;
  }
}
