.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .button {
    display: flex;
    flex: 0 0 63.67px;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    background: var(--main-color-white);
  }
}
