:root {
    --main-color-white: #fff;
    --main-color-black: #000;
    --main-color-grey: #8e8e8e;
    --main-color-red: #d50000;

    --second-color-grey: #9b9b9d;
    --second-color-white: #efeef4;
}
