.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.rounded {
    border-radius: 100%;
  }

  &.arrow {
    width: 17px;
    height: 12px;
    flex: 0 0 17px;
    background-image: url("~public/images/icons/arrow.svg");
  }
}
