.text-variant-1 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text {
  &.white {
    color: var(--main-color-white);
  }

  &.black {
    color: var(--main-color-black);
  }

  &.grey {
    color: var(--main-color-grey);
  }

  &.fs-11px {
    @extend .text-variant-1;
  }
}
