.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 100%;

    .button,
    .count {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        flex: 0 0 28px;
        font-size: 12px;
        font-style: normal;
        min-width: unset;
        font-weight: 600;
        line-height: 104%;
        border-radius: 4px;
        transition: color 0.3s ease 0s;
        box-shadow: 0px 5px 20px 0px rgba(24, 22, 31, 0.1);
        color: var(--main-color-black);
        background: var(--main-color-white);

        &.disabled {
            color: var(--main-color-grey);
        }
    }
}
