.wrapper {
    padding: 0px 8px;
    border-radius: 10px;
    background: #efeef4;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;

    .input {
        flex: 1;
        font-size: 17px;
        color: black;
        padding: 6px 0px;
    }
}
.sticky {
    transition: all 0.2s ease;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    left: 0;
    padding: 15px 10px 2px 10px;
    background-color: white;
}
