.categoryWrapper {
  display: flex;

  .category {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid transparent;

    &.white {
      border: 1px solid #000;
    }
  }

  .name {
    color: var(--Main-Black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .categoryAll {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
