.tooltip {
  background: white;
  font-weight: 700;
}

.wrapper {
  margin-top: 16px;

  .header {
    padding-bottom: 9px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(142, 142, 142, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .id {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: var(--main-color-grey);
    }

    .time {
      span {
        &:first-child {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.4px;
          color: var(--main-color-black);
        }

        &:last-child {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: -0.4px;
          margin-left: 4px;
          color: var(--main-color-black);
        }
      }
    }
  }

  .orderWrapper {
    margin-bottom: 16px;
  }

  .order {
    position: relative;
    border-radius: 20px;
    background: #eee;
    padding: 20px 27px 24px 27px;

    &:last-child {
      margin-bottom: 0;
    }

    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .name {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: var(--main-color-black);
    }

    .expectedDate,
    .status {
      margin-bottom: 4px;
      display: flex;
      align-items: center;

      span {
        margin-left: 4px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        color: var(--main-color-black);
      }
    }

    .trackNumber {
      display: flex;
      align-items: center;
      margin-bottom: 11px;

      .snippet {
        padding: 0px;
        gap: 0px;
        margin-left: 4px;
        background: transparent;

        svg {
          path {
            stroke: var(--main-color-grey);
          }
        }

        pre {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.4px;
          color: var(--main-color-black);
          font-family: var(--font-manrope);

          span {
            display: none;
          }
        }

        button {
          width: 25px;
          height: 25px;
          min-height: 25px;
          min-width: 25px;
          z-index: 3;
        }
      }
    }
  }
}
